{{ define "footer" }}
<footer class="text-white text-center py-3 mt-auto" style="background-color: #00a7d0;">
    Сайт создан на <strong>Golang</strong><br>
    Автор: <strong>legenda_hortici</strong><br>
    <div class="mt-2">
        <a href="https://t.me/legenda_hortici" target="_blank" class="text-white me-3">
            <i class="bi bi-telegram" style="font-size: 1.5rem;"></i> Telegram
        </a>
        <a href="https://github.com/legenda-hortici" target="_blank" class="text-white">
            <i class="bi bi-github" style="font-size: 1.5rem;"></i> GitHub
        </a>
    </div>
</footer>
{{ end }}



